// VARIABLES
$backgroundDefault: #1B1C1F;
$fontTitle: "Jersey 15", sans-serif;
$fontOther: "Jersey 25", sans-serif;


// IMPORT
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap'); 
//"Jersey 15", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Jersey+25&family=Micro+5&display=swap');
//"Micro 5", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Jersey+25&family=Micro+5&display=swap');
//"Jersey 25", sans-serif;


//CODE
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Jersey 15", sans-serif;
}

// NAVBAR
.navbar {
  text-shadow: 0 0 1vh black;
  position: sticky;
  top: 0;
  width: 100%;
  height: 8vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px) saturate(150%);
  background: rgba(14 14 14 / 0.13);
  z-index: 1000;

  .logo {
    img {
    -webkit-filter: drop-shadow(0 0 1vh black);
    filter: drop-shadow(0 0 1vh black);
    width: 7vh;
    padding-left: 3vh;
    
    }
  }

  .menu {
    display: flex;
    gap: 3vw;
    margin-right: 3vh;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 3vh;
      transition: all 0.4s;

      &:hover {
        color: #9F22B3;
        text-shadow: 0 0 2vh black;
      }
    }
  }
}



#wikiContent {
    color: white;
    height: 160%;
    background-color: $backgroundDefault;
    padding-top: 8vh;
    padding-left: 3vh;
    text-shadow: 0 0 2vh black;
    padding-right: 3vh;
    padding-bottom: 10%;

    p {
      padding-left: 6vh;
      font-family: $fontOther;
      font-weight: 0.4vh;
    }

    h3 {
      font-size: 10vh;
      text-align: center;
      font-family: "Jersey 25", sans-serif;
    }

    .WDP {
      font-weight: bold;
    }

    a {
      color: #9F22B3;
    }

}



footer {
  text-shadow: 0 0 1vh black;
  bottom: 0;
  width: 100%;
  height: 35%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px) saturate(150%);
  background-color: #131315C4;
  color: white;
  box-shadow: 0 0 6vh black;
  h2 {
    font-size: 6vh;
    margin: 4vh;
    -webkit-filter: drop-shadow(0 0 1vh #7A7A7A);
    filter: drop-shadow(0 0 1vh #7A7A7A);
  }
  
  .links {
    margin: 4vh;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;

    a:visited {
    color: #CB76FF;
}

    span {
      text-decoration: underline;
      color: #CB76FF;

    }

  }

  img {
    filter: invert(100%) brightness(10000%);
    width: 5vh;
  }

  .wdpLogo {
    filter: none;
    transform: translateY(0.4vh);
  }

  .copy {
    display: grid;
    grid-row: 2 2;
    text-align: center;
    bottom: 0vh;
    color: #FF7373;

    #copyright {
      text-decoration: none;
      color: #FF7373;
    }

  }
}



/* From Uiverse.io by alexruix */ 
.group {
 display: flex;
 line-height: 28px;
 align-items: center;
position: relative;
 max-width: 190px;
}

.input {
 width: 100%;
 height: 40px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 2vh;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .5s ;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: rgba(250 134 178 / 0.64);
 background-color: #fff;
 box-shadow: 0 0 0 4px rgba(253 118 170 / 0.41);
}

.icon {
position:absolute;
 left: -1.4rem;
 fill: #9e9ea7;
 height: 3vh;
}

input {
  border-radius: 2vh;
  border: none;
}

hr {
color: #CB76FF;
}
